@use "variables";

@mixin input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: variables.$darker;
  border-radius: variables.$radius;
  padding: 0.6em 1em;
  width: 80%;

  svg {
    width: 1em;
    fill: rgba(white, 0.3);
  }
}

@mixin box {
  background-color: rgba(white, 0.04);
  border: variables.$border;
  border-radius: variables.$radius;
}

@mixin button($color) {
  background-color: $color;
  padding: 1em 1.5em;
  border-radius: variables.$radius;
}
