@use "variables";
@use "screens";
@use "sass:color";

@mixin input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: variables.$darker;
  border-radius: variables.$radius;
  padding: 0.8em 1em;
  outline: solid 2px transparent;
  transition: outline 0.2s ease-in-out;

  svg {
    width: 1em;
    fill: rgba(white, 0.3);
  }

  &::placeholder {
    color: rgba(white, 0.25);
  }

  &:focus {
    outline-color: variables.$light-blue;
  }
}

@mixin box {
  background-color: rgba(white, 0.04);
  border: variables.$border;
  border-radius: variables.$radius;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(white, 0.08);
  }
}

@mixin button($color) {
  background-color: $color;
  padding: 1em 1.5em;
  border-radius: variables.$radius;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
  transition: background-color 0.2s ease-in-out;

  svg {
    width: 1.25em;
    height: 1.25em;
    fill: white;
  }

  &:hover {
    background-color: color.adjust($color, $lightness: 3%);
  }
}

@mixin noise {
  position: absolute;
  inset: 0;
  background-image: url("../public/images/noise.svg");
  mix-blend-mode: soft-light;
}

@mixin gradient($position: "top") {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;

  @if $position == "top" {
    height: 32rem;
    background:
      radial-gradient(
        ellipse 120% 50%,
        rgba(variables.$orange, 0.2),
        rgba(variables.$blue, 0.05),
        transparent
      );
    top: -6rem;
  } @else if $position == "center" {
    height: 32rem;
    background:
      radial-gradient(
        ellipse 120% 50%,
        rgba(variables.$orange, 0.2),
        rgba(variables.$blue, 0.05),
        transparent
      );
    top: calc(50% - 20rem);
  }

  @include screens.laptop {
    height: 48rem;
    background:
      radial-gradient(
        ellipse 64rem 50%,
        rgba(variables.$orange, 0.2),
        rgba(variables.$blue, 0.05),
        transparent
      );
    top: -8rem;
  }
}

@mixin popup($padding) {
  background-color: variables.$dark;
  border: variables.$border;
  border-radius: variables.$radius;
  padding: $padding;
  display: flex;
  flex-direction: column;
  transform: translate(2.5%, -2.5%) scale(0.95);
  transition: transform 0.1s ease-in, opacity 0.1s ease-in;

  &:global(.open) {
    transform: none;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }

  .popupButton {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: variables.$radius;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgba(white, 0.1);
    }
  }
}
