@use "variables";
@use "sass:color";

@mixin input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: variables.$darker;
  border-radius: variables.$radius;
  padding: 0.6em 1em;

  svg {
    width: 1em;
    fill: rgba(white, 0.3);
  }

  input {
    width: 100%;
  }
}

@mixin box {
  background-color: rgba(white, 0.04);
  border: variables.$border;
  border-radius: variables.$radius;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(white, 0.08);
  }
}

@mixin button($color) {
  background-color: $color;
  padding: 1em 1.5em;
  border-radius: variables.$radius;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.2s ease-in-out;

  svg {
    width: 1rem;
    height: 1rem;
    fill: white;
  }

  &:hover {
    background-color: color.adjust($color, $lightness: 3%);
  }
}
