/* Colors */
$dark: #0a0b0f;
$darker: #050507;
$orange: #f2997b;
$blue: #3c38fc;
$light-blue: #8599ff;
$red: #ee5456;
$green: #16e28c;

/* Borders */
$border: 2px solid rgba(white, 0.1);

/* Border radius */
$radius: 0.5rem;
