@use "../../../styles/variables";
@use "../../../styles/mixins";
@use "../../../styles/typography";
@use "../../../styles/screens";
@use "sass:color";

.toptext {
  margin: auto 0 4rem;
  font-weight: bold;
}

.title {
  @include typography.heading2;

  margin-bottom: 0.5rem;
}

.bigTitle {
  @include typography.heading1;

  font-size: 3rem;
}

.button {
  @include mixins.button(variables.$blue);

  margin: 2rem 0 auto;
}

.reactions {
  display: flex;
  gap: 0.5rem;

  .reaction {
    font-size: 1rem;
    padding: 0.3em 0.5em;
    border-radius: variables.$radius;
    background-color: rgba(white, 0.1);

    @include screens.laptop {
      font-size: 1.2rem;
    }

    &:hover {
      background-color: variables.$blue;
    }

    &:active {
      background-color: color.adjust(variables.$blue, $lightness: 4%);
    }
  }
}

.popup {
  @include mixins.popup(0.5rem);
}
