@use "../../../styles/variables";
@use "../../../styles/mixins";
@use "../../../styles/typography";
@use "../../../styles/screens";

.toptext {
  margin: auto 0 4rem;
}

.title {
  @include typography.heading2;

  margin-bottom: 0.5rem;
}

.bigTitle {
  @include typography.heading1;

  font-size: 3rem;
}

.button {
  @include mixins.button(variables.$blue);

  margin: 1.5rem 0 auto;
}

.reactions {
  display: flex;
  gap: 0.5rem;

  .reaction {
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    border-radius: variables.$radius;
    background-color: rgba(white, 0.1);

    &:hover {
      background-color: variables.$blue;
    }
  }
}

.popup {
  @include mixins.popup(0.5rem);
}
