@use "../../../styles/variables";
@use "../../../styles/mixins";
@use "../../../styles/typography";
@use "../../../styles/screens";

.game {
  @include mixins.box;

  display: block;
  padding: 2rem 1.5rem 1rem;
  text-align: start;
  width: 16rem;
  position: relative;

  .theme {
    position: absolute;
    bottom: calc(100% - 1.5rem);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: variables.$radius;
    line-height: initial;
  }

  .title {
    @include typography.heading3;
  }

  .userContainer,
  .statusContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0 1rem;
  }

  .statusColor {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: variables.$orange;
  }

  .infos {
    display: flex;

    .peopleIn {
      @include typography.small;
    }

    .date {
      @include typography.small;

      margin-left: auto;
    }
  }
}
