@use "../variables";
@use "../mixins";
@use "../typography";
@use "../screens";

.gradient {
  @include mixins.gradient;
}

.main {
  width: 100vw;
  height: calc(100vh - 4rem);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem 15.5rem;
  position: relative;

  .menu {
    position: absolute;
    inset: 0.5rem 1.5rem auto auto;

    svg {
      fill: white;
    }
  }
}
