@use "../variables";
@use "../mixins";
@use "../typography";
@use "../screens";

.gradient {
  @include mixins.gradient;
}

.main {
  width: 100vw;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;

  .game {
    height: 100%;
  }
}
