@use "../../../styles/variables";
@use "../../../styles/mixins";
@use "../../../styles/typography";
@use "../../../styles/screens";

.quizStatusIndicator {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .statusColor {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: variables.$orange;
  }
}
