@use "../../../styles/variables";
@use "../../../styles/mixins";
@use "../../../styles/typography";
@use "../../../styles/screens";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.button {
  @include mixins.button(variables.$blue);

  margin-top: 3rem;
}
