@use "../../../styles/variables";
@use "../../../styles/mixins";
@use "../../../styles/typography";
@use "../../../styles/screens";

.settingBar {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: variables.$darker;
  padding: 6rem 1.5rem 4rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
  transition: left 0.4s variables.$transition;

  @include screens.laptop {
    position: sticky;
    top: 6rem;
    left: 0;
    flex: 0 0 min(40%, 40rem);
    height: fit-content;
    background-color: transparent;
    padding: 0 4rem;
  }

  &.visible {
    left: 0;
  }

  .header {
    display: flex;
    align-items: baseline;

    .title {
      @include typography.heading2;

      margin: 0 1.5rem 0 0.875rem;
    }

    .link {
      font-weight: bold;
      color: variables.$light-blue;

      &:hover {
        text-decoration: underline;
      }
    }

    .cross {
      margin: auto 0 auto auto;

      svg {
        fill: white;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;

    .label {
      margin: 1.5rem 0 0.5rem 1em;
    }

    .input,
    .textarea {
      @include mixins.input;

      width: 100%;
    }

    .textarea {
      resize: none;
    }

    .button {
      @include mixins.button(variables.$blue);

      margin: 1.5rem auto 0;
    }
  }
}
