@use "../../../styles/variables";
@use "../../../styles/mixins";
@use "../../../styles/typography";
@use "../../../styles/screens";

.message {
  display: flex;
  gap: 0.75em;

  .author {
    font-weight: bold;
    color: variables.$light-blue;
  }

  .content {
    word-break: break-all;
  }

  .info {
    color: rgba(white, 0.5);
    text-align: center;
    width: 100%;
    margin: 0.5rem 0;

    .username {
      font-weight: bold;
      color: variables.$light-blue;
    }
  }
}
